{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>
<h1>Black Box Investigation</h1>
<h3>By:Jenna Maynard</h3>

<p>The mystery black box was an object in New Media and tech for social change class. Our goal in this investigation was to figure out what was inside the mystery black box.</p>
<img src="{% static 'Groupinvestigatingblackbox.JPG' %}" alt="My group examining the Mystery black box." width="500">


<h2>My Contribution</h2>
<p>During the mystery black box investigation everyone in my group worked extremly hard. This is just a couple things that was done by me independently. The pyhsical black box model box was cut out and shaped by me. I also took many photos and made drawings.</p>

<h2> Black Box Reflection</h2>
<p> Something that went well during our investigation is our focus, my group was on task and focused on what needed to be completed that day. Something that was a struggle was leakage. While testing our model of the Black box we experience a lot of water leakage. This was not an easy fix, it took lots of flex tape and glue and in the end it still leaked but we realized its a normal part of the process and it was only a prototype.</p>

<h2>Below this is a table of data from when I tested the Mystery Black Box.</h2>
<table>
  <tr>
    <th>Trial</th>
    <th>Input</th>
    <th>Output</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000ml</td>
    <td>830ml</td>
    <td>39.6sec</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000ml</td>
    <td>1300ml</td>
    <td>1.31.02sec</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1000ml</td>
    <td>1400ml</td>
    <td>1.05.32sec</td>
  </tr>
  <tr>
    <td>4</td>
    <td>1000ml</td>
    <td>535ml</td>
    <td>58.61sec</td>
  </tr>
<tr>
    <td>5</td>
    <td>1000ml</td>
    <td>1530ml</td>
    <td>1.01.03sec</td>
  </tr>
<tr>
    <td>6</td>
    <td>1000ml</td>
    <td>200ml</td>
    <td>51.55sec</td>
  </tr>




</table>

<h2>Claim</h2>
<p>There are 2 tubes inside the box that split into different containers.</p>
<h2>Evidence</h2>
<p>The mystery black box is a container where we don't know what's happening inside. My initial observations of it was that when you pour the water in there is a big delay until it comes out. At first I thought that there were 3 buckets and the tube got higher in each one would need more water which would explain why more came out some trails then others.</p>
<img src="{% static 'core/Jennaprettymode.jpg' %}" alt="3d model of our black box in a dark setting">
<h2>How I created my MAYA model</h2>
<p>First I started with a regular rectangle in MAYA and then extruded inwards to create a hollow box. Then I added all the other componts in MAYA. After it was done on MAYA I brought it over to merge.edu and then adobe and was able to make a augmented reality.</p>
<img src="{% static 'core/Finalmodel.JPG' %}" alt="The final product of our physical model" width="500">
<h2>Reasoning 1</h2>
<p>Models are representations of your ideas. They are very useful when trying to express how your idea works or to even test your theory. There strengths are it can help you prove a theory there limitations are they can also prove your theory incorrect.<p>
<h2> Reasoning 2 </h2>
<p>My claim is correct because it proves the delay and why more water comes out then other times. My evidence is convincing because of my data chart.<p>
<h2> Below this is the data from my model of the Mystery Black Box.</h2>

<table>
<tr>
    <th>Trial</th>
    <th>Input</th>
    <th>Output</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>1</td>
    <td>100ml</td>
    <td>85ml</td>
    <td>9.02sec</td>
  </tr>
  <tr>
    <td>2</td>
    <td>100ml</td>
    <td>90ml</td>
    <td>6.81sec</td>
  </tr>
  <tr>
    <td>3</td>
    <td>100ml</td>
    <td>85ml</td>
    <td>5.90sec</td>
  </tr>
  <tr>
    <td>4</td>
    <td>100ml</td>
    <td>120ml</td>
    <td>6.88sec</td>
  </tr>
<tr>
    <td>5</td>
    <td>100ml</td>
    <td>65ml</td>
    <td>7.84sec</td>
  </tr>
<tr>
    <td>6</td>
    <td>100ml</td>
    <td>90ml</td>
    <td>6.34sec</td>
  </tr>
<tr>
    <td>7</td>
    <td>100ml</td>
    <td>115ml</td>
    <td>7.21sec</td>
  </tr>
<tr>
    <td>8</td>
    <td>100ml</td>
    <td>80ml</td>
    <td>5.85sec</td>
  </tr>
</table>
<h2>Reasoning 3</h2>
<p>You also could put a bunch of cups at different levels where they pour in and delay.</p>
<img src="{% static 'core/Jennamakingbox.JPG' %}" alt="Drilling holes in tubes while making our physical model of the 3d black box" width="400">
<br>
<a href="https://adobeaero.app.link/EpPe2fpZTNb">See my model in the real world using Augmnented Reality</a>
<br>
<img src="{% static 'core/Jennablackboxmodel QR Code.png' %}" alt="Image of the augmented reality from 3d black box" width="400">
<h2>Reflection</h2>
<p>Throughout this project I have learned so much not just about websites and coding and working with the mystery black box I've learned so much about collaboration and working with others. In Maya I also created many other things like a hand!</p>
<img src="{% static 'core/Jenna Hand screenshot.png' %}" alt="A hand that was edited by me in Autodesk Maya"width="400">


<body>
<html>
